body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'; 

}
/* .header,
.section,
.footer {
 margin-bottom: 20px; 
} */
.top-img {
    background:url('../img/notebook-581128_960_720.jpg') center top/cover no-repeat; 
    max-width: 100%;
}

.btn {
    color: white;
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
    border:none;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: black;
    padding: 4px 30px;
}


#tategaki  {
    font-family: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
    -webkit-font-feature-settings: 'pkna';
            font-feature-settings: 'pkna';
    font-size: 17px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-indent: 1em;
    padding: 0 3rem;
  }
  ruby {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  }