body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'; 

}
/* .header,
.section,
.footer {
 margin-bottom: 20px; 
} */
.top-img {
    background:url('../img/book_bg.jpeg') center top/cover no-repeat; 
    max-width: 100%;
}

.btn {
    color: white;
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: black;
    padding: 4px 30px;
}