a,
a:hover {
    color:#fff;
    text-decoration: none;
}
.button {
  display       : inline-block;
  border-radius : 5%;          
  font-size     : 14pt;      
  text-align    : center;     
  cursor        : pointer;     
  padding       : 12px 80px;   
  background    : #000066;     
  color         : #ffffff;     
  line-height   : 1em;        
  opacity       : 0.9;        
  transition    : .3s;         
  box-shadow    : 0px 6px 3px #666666; 
}
.button:hover {
  box-shadow    : none;        
  opacity       : 1;           
}